


    <div class="CardLayout CardLayout--narrow">

        <div class="fe-Card fe-Card--large">


            <div class="fe-Card-segment fe-Card-segment--fullBleed">
              <div class="fe-MastHead fe-MastHead--purple" style="direction: ltr">

              <div class="fe-MastHead-image">
                <img src="../../../assets/image/bg-01.jpg">
            </div>
            </div>
            </div>






            <div class="fe-Card-segment">





              <div class="form"  >
    <form [formGroup]="changePassForm" class="top_aligned simple-form"   >





       <div class="row">
        <div class="col-lg-12 col-sm-12">


            <div class="input-group">
                    <span class="input-group-addon" >رمـــز عـــبـور فــعـلی</span>
                        <input  type="password" formControlName="oldPassword" [(ngModel)]="passObj.oldPassword"
                        required class="form-control"   />


                </div>
                <div *ngIf="submitted && ctrl.oldPassword.errors" class="invalid-feedback">
                        <div *ngIf="submitted && ctrl.oldPassword.errors.required" class="fontColorError">فـیلد رمز عبور فعلی الزامی است</div>
                </div>
        </div>
       </div>
       <br>

       <div class="row">
        <div class="col-lg-12 col-sm-12">


            <div class="input-group">
                    <span class="input-group-addon" > رمـــز عـــبـور جــدید</span>
                        <input  type="password" formControlName="newPassword" [(ngModel)]="passObj.newPassword"
                        required class="form-control"   />


                </div>
                <div *ngIf="submitted && ctrl.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="submitted && ctrl.newPassword.errors.required" class="fontColorError">فیلد رمز عبور جدید  الزامی است</div>
                </div>
        </div>
       </div>


       <br>

       <div class="row">
        <div class="col-lg-12 col-sm-12">


            <div class="input-group">
                    <span class="input-group-addon" >تکرار رمز عبور جدید </span>
                        <input  type="password" formControlName="confirmPassword" [(ngModel)]="passObj.confirmPassword"
                        required class="form-control"   />


                </div>
                <div *ngIf="submitted && ctrl.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="submitted && ctrl.confirmPassword.errors.required" class="fontColorError">فیلد  تکرار رمز عبور جدید الزامی است</div>
                </div>
        </div>
       </div>
       <br>


       <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <button
                    (click)="changeUserPass()"
                    [ngClass]="{'m-progress':sendDataToServer}"
                    class="btn btn-success btn-block  btn-lg">تغییر شناسه عبور</button>


        </div>
    </div>

                </form>
            </div>


            </div>

        </div>


