<!-- <body   >
<div class="wrapper-wide myOrginalFont   " aria-hidden="true"   >

    <app-header  [ngClass]="{'fullscreen-inActive':state}"></app-header>


    <div id="container">
        <div class="container-fluid  "  >
            <div class="row ">
                <app-left-side  [ngClass]="{'fullscreen-inActive':state}"></app-left-side>

                <div id="content"   class="col-sm-10 ">
                    <div class="progress " *ngIf="progress"><span class="progress-round-turquise"></span></div>

                     <router-outlet>
                     </router-outlet>

                </div>
            </div>
        </div>
    </div>

  <app-footer [ngClass]="{'fullscreen-inActive':state}"></app-footer>


</div> -->

<router-outlet></router-outlet>
