/* .panelbar-wrapper {
    max-width: 100%;
    margin: 0 auto;
} */



/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(212, 0, 255, 0.6);
}
.credit-card-box label.error {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box .payment-errors {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}
.credit-card-box .display-tr {
  display: table-row;
}

.credit-card-box .display-td  {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.credit-card-box .display-tdhead {
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}

:host{
  color: #541010;
}

.panel-default > .panel-heading {
  background-color: #3e7cb4;
  color: whitesmoke;
}

.show{
z-index: 44444;
}
.dp-popup dp-material{
color: #541010;
position: absolute;;

}
.dp-material{
position: relative;
}




.btn-arrow {
  color: transparent;
  display: block;
  /* margin: 3rem; */
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 150ms ease-out;
}
.btn-arrow::before, .btn-arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #606060;
  transition: all 150ms ease-out;
}
.btn-arrow::before {
  width: 75%;
  height: 25%;
}
.btn-arrow::after {
  width: 25%;
  height: 75%;
}
.btn-arrow:hover, .btn-arrow:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-arrow:hover::before, .btn-arrow:hover::after, .btn-arrow:focus::before, .btn-arrow:focus::after {
  background-color: #404040;
}
.btn-arrow.btn-arrow-left::before, .btn-arrow.btn-arrow-left::after, .btn-arrow.btn-arrow-right::before, .btn-arrow.btn-arrow-right::after {
  top: 12.5%;
  left: 12.5%;
}
.btn-arrow.btn-arrow-left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-arrow.btn-arrow-right {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* ========================= */
html, body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
