<div  class="column col-lg-2 col-md-3 myposition" *ngFor="let cat of parents" >
  <a class="parent-item " (click)="onNavigate(cat)"    >{{cat?.name}}</a>
<app-menu-item   [categories]="categories" [catId]="cat?.id"></app-menu-item>
</div>

<!--<div class="column col-lg-2 col-md-3">-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->
  <!--<a href="category.html">البسه</a>-->


<!--</div>-->
