<div id="carousel" class="owl-carousel nxt">
  <div class="item text-center"><a href="#"><img src="../assets/image/product/IME.jpg" alt="Palm"
                                                 class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/cod.jpg" alt="Palm"
                                                 class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/far.jpg" alt="Palm"
                                                 class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/kan.jpg" alt="Sony"
                                                 class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/etl.jpg"
                                                 alt="Canon" class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/ray.jpg"
                                                 alt="Apple" class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/ene.jpg" alt="HTC"
                                                 class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/com.jpg"
                                                 alt="Hewlett-Packard" class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/sen.jpg"
                                                 alt="brand" class="img-responsive"/></a></div>
  <div class="item text-center"><a href="#"><img src="../assets/image/product/sep.jpg"
                                                 alt="brand1" class="img-responsive"/></a></div>
</div>
